 <table class="table">
      <tbody>
          <tr>
              <td>
                  <div ng-repeat="person in people" style="float:left; margin-left: 20px;">
                      {{person.name}} <br />
                      <img ng-src="{{person.picUrl}}" height="150" width="150" ng-click="loadProfile(person)"/><br />
                      Email: {{person.email}} <br />
                      From:  {{person.location}}<p></p>
                      <div ng-repeat ="item in person.items">
                          Item Name: {{item.name}} <br/>
                          Description: {{item.description}}<p/>
                          <div ng-repeat ="comment in item.comments">
                              {{comment.name}} wrote {{comment.commentText}}
                          </div>
                          <p></p><p></p>
                      </div>
                      <hr />
                  </div>
              </td>
          </tr>

       </tbody>
</table>

