<div ng-show="false">Hello {{name}}! </div>
<div crud-grid table-name='person' ng-show="false"></div>
<div crud-grid table-name='place'  ng-show="false"></div>


 <table class="table">
      <tbody>
          <tr>
              <td>
                <div ng-repeat="person in people" style="float:left; margin-left: 20px;">
                    <img ng-src="{{person.picUrl}}" height="50" width="50"/>
                    {{person.name}} <br />
                    Email: {{person.email}} <br />
                    From:  {{person.location}}
                    <div ng-repeat ="item in person.items">
                        Item Name: {{item.name}} <br/>
                        Description: {{item.description}}
                    </div>
                    <hr />
                </div>
              </td>
          </tr>

       </tbody>
</table>

<!--Places: 
<div ng-repeat="place in places">
    {{place.name}}
</div>
<hr />
-->
