<div style="float: left; margin-left: 20px;">

    <div style="float: left; margin-left: 10px;">
        <img ng-src="{{person.picUrl}}" height="150" width="150" ng-click="loadProfile(person.userName)"/><br />
        {{person.name}} 
        <br />
        Email: {{person.email}}
        <br />
        From:  {{person.location}}<p></p>
    </div>
    <div style="float: right; margin-left: 100px;">
        <div ng-repeat="item in person.items">
            <img ng-src="{{item.picUrl}}"  height="250" width="250" /><br/> Item Name: {{item.name}}
            <br />
            Price: List ${{item.priceList}}, Sale ${{item.priceSale}}, Size: {{item.size}}
            <br />
            Description: {{item.description}}<p />
            <input type="text" id ="txtComment" size="25" ng-model="commentText"/> <button type="button" class="btn btn-default btn-xs" ng-click="addComment(item.id, commentText, 'deltadreams')">Submit</button><br/>
            <div ng-repeat="comment in item.comments">
                <p ng-click="loadProfile(comment.userName)">
                    <img ng-src="{{comment.picUrl}}" height="37" width="37"  /> {{comment.name}}: {{comment.commentText}} 
                </p> 
            </div>
            <p></p>
            <p></p>
                <div style="clear:both"></div>
        </div>
    </div>
    <hr />
</div>
